{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-5">

    <h2 class="mb-4">
        <i class="bi bi-plus-circle"></i> Add Transaction
    </h2>

    <form action="/add" method="POST">

        <div class="mb-3">

            <label class="form-label">
                Title
            </label>

            <input
                type="text"
                name="title"
                class="form-control"
                required
            >

        </div>


        <div class="mb-3">

            <label class="form-label">
                Amount
            </label>

            <input
                type="number"
                name="amount"
                class="form-control"
                required
            >

        </div>


        <div class="mb-3">

            <label class="form-label">
                Category
            </label>

            <select
                name="category"
                class="form-select"
            >

                <option value="Income">
                    Income
                </option>

                <option value="Expense">
                    Expense
                </option>

            </select>

        </div>


        <button class="btn btn-success w-100">
            Add Transaction
        </button>

    </form>

</div>

{% endblock %}