{% extends 'base.html' %}

{% block content %}

<div class="row">  <!--Income-->  
<div class="col-md-4">  

    <div class="card shadow p-4 text-center">  

        <h3>  
            <i class="bi bi-wallet2"></i>  
             Total Income</h3>  

        <h1 class="text-success">  
            ${{ total_income }}  
        </h1>  

    </div>  

</div>  


<!--Expense-->  
<div class="col-md-4">  

    <div class="card shadow p-4 text-center">  

        <h3>  
            <i class="bi bi-cash-stack"></i>  
             Total Expense</h3>  

        <h1 class="text-danger">  
            ${{ total_expense }}  
        </h1>  

    </div>  

</div>  


<!--Remaining-->  
<div class="col-md-4">  

    <div class="card shadow p-4 text-center">  

        <h3>  
            <i class="bi bi-piggy-bank"></i>  
             Remaining</h3>  

        <h1 class="text-primary">  
            ${{ remaining }}  
        </h1>  

    </div>  

</div>

</div>  {% endblock %}