{% extends 'base.html' %}

{% block content %}

<div class="container">

    <!-- Title -->
    <div class="text-center mb-4">
        <h2 class="fw-bold">
             Dashboard Overview
        </h2>
        <p class="text-muted">Your income, expense and balance summary</p>
    </div>

    <!-- Cards Row -->
    <div class="row g-4">

        <!-- Income -->
        <div class="col-12 col-md-4">

            <div class="card p-4 text-center h-100">

                <div class="mb-2 text-success fs-2">
                    <i class="bi bi-wallet2"></i>
                </div>

                <h5 class="text-muted">Total Income</h5>

                <h2 class="fw-bold text-success">
                    ${{ total_income }}
                </h2>

            </div>

        </div>

        <!-- Expense -->
        <div class="col-12 col-md-4">

            <div class="card p-4 text-center h-100">

                <div class="mb-2 text-danger fs-2">
                    <i class="bi bi-cash-stack"></i>
                </div>

                <h5 class="text-muted">Total Expense</h5>

                <h2 class="fw-bold text-danger">
                    ${{ total_expense }}
                </h2>

            </div>

        </div>

        <!-- Remaining -->
        <div class="col-12 col-md-4">

            <div class="card p-4 text-center h-100">

                <div class="mb-2 text-primary fs-2">
                    <i class="bi bi-piggy-bank"></i>
                </div>

                <h5 class="text-muted">Remaining Balance</h5>

                <h2 class="fw-bold text-primary">
                    ${{ remaining }}
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}